{% extends "base.html" %}

{% block title %}Efficient Hypothesis{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='react-app/assets/main.css') }}">
  <script>
    window.__EH_BOOTSTRAP__ = {
      user: {{ user|tojson }},
      initialPage: {{ initial_page|tojson }}
    };
  </script>
{% endblock %}

{% block content %}
  <div id="root"></div>
{% endblock %}

{% block scripts %}
  <script type="module" src="{{ url_for('static', filename='react-app/assets/main.js') }}"></script>
{% endblock %}
